body {
  width: 100vw;
  height: 100vh;
  background-color: #284E35;
  padding: 0;
  margin: 0;
}

.header {
  height: 15%;
  margin: 0;
  position: inline-block;
}

.header .hamburger {
  width: 15%;
}

.header .map {
  width: 15%;
  position: absolute;
  right: 0;
}

.header input {
  width: 68%;
  font-size: 3em;
  position: absolute;
  top: 2%;
}

.results {
  width: 100%;
  height: 85%;
  background-color: maroon;
  border: 4px solid black;
}

.card {
  background-color: #C4C4C4;
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 3px solid #381D1D;
  padding: 2%;
}

.card img {
  width: 50%;
}

.info {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-family: Anaheim;
  line-height: 10px;
  position: absolute;
  right: 0%;
  bottom: 15%;

}

.info h1 {
  font-size: 5em;
}

.info h3 {
  font-size: 2em;
}
